# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
client/.env
server/.env

# Build Output
dist/
build/

# IDE and System Files
.vscode/
.idea/
.DS_Store
*.log